*{
    margin:0;
    padding:0;
}
body{
    min-width:1020px;
}
@font-face {
src: url("./font/Stick.woff") format("woff");
font-family: "Stick";
font-style: normal;
font-display: swap;
}

@font-face {
    src: url("./font/Orbitron-VariableFont_wght.ttf");
    font-family: "Orbitron";
    font-style: normal;
    font-display: swap;
}

@font-face {
    src: url("./font/Quantico-Regular.ttf");
    font-family: "Quantico";
    font-style: normal;
    font-display: swap;
}
@font-face {
    src: url("./font/JuliusSansOne-Regular.ttf");
    font-family: "JuliusSansOne";
    font-style: normal;
    font-display: swap;
}
.gameCanvas{
    position:absolute;
    left:0;
    right:0;
    margin:auto;
    cursor:none;
}
.canvasWrapper{
    position:relative;
    height:540px;
    width:100%;
}
.gameCanvas1{
    z-index:10;
}
.gameCanvas3{
    z-index:30;
}
.gameCanvas2_5{
    z-index:25;
}
.gameCanvas3_5{
    z-index:35;
}
.gameCanvas4{
    z-index:40;
}
.gameCanvas2_3{
    z-index:23;
}
.displayNone{
    display:none;
}
.hidCanvas{
    width:1200px;
    height:600px;
}
.nameBoxCreate{
    z-index:100;
    position:absolute;
    left:calc(50% - 186px);
    top:206px;
    width:200px;
    font-size:14pt;
    display:none;
    background-color:black;
    color:white;
    padding:1px;
    font-family:"Stick",sans-serif;
    transition:all 0.3s;
}
.nameBoxChange{
    z-index:100;
    position:absolute;
    left:calc(50% - 100px);
    top:246px;
    width:200px;
    font-size:14pt;
    display:none;
    background-color:black;
    color:white;
    padding:1px;
    font-family:"Stick",sans-serif;
    transition:all 0.3s;
}
.dataButton{
    height:40px;
    width:300px;
    font-family:"Stick";
    color:white;
    background-color:black;
    transition: all 0.3s;
    padding:10px;
    margin:20px;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color:gray;
    border-right-style:solid;
    border-right-width:1px;
    border-right-color:gray;
}
.dataButton:hover{
    background-color:rgba(60,60,60,1);
}
.dataButton-bt{
    display:none;
}
.pad20{
    height:20px;
}
