*{
    margin:0;
    padding:0;
}
body{
    color:white;
    font-family:"Orbitron","Stick";
    background-color: rgb(201, 201, 212);
}
@font-face {
src: url("./font/Stick.woff") format("woff");
font-family: "Stick";
font-style: normal;
font-display: swap;
}

@font-face {
    src: url("./font/Orbitron-VariableFont_wght.ttf");
    font-family: "Orbitron";
    font-style: normal;
    font-display: swap;
}

@font-face {
    src: url("./font/Quantico-Regular.ttf");
    font-family: "Quantico";
    font-style: normal;
    font-display: swap;
}
@font-face {
    src: url("./font/JuliusSansOne-Regular.ttf");
    font-family: "JuliusSansOne";
    font-style: normal;
    font-display: swap;
}
.header{
    background-color: rgba(100,100,110,0.8);
    color:black;
    padding:20px;
    position:fixed;
    top:0;
    z-index:1000;
}
:link,:visited,:hover,:active{
    color: white;
    text-decoration: none;
}
.logo{
    font-size:20px;
}
.gameCanvas{
    position:absolute;
    left:0;
    right:0;
    margin:auto;
    cursor:none;
}
.canvasWrapper{
    position:relative;
    height:540px;
    width:100%;
    margin-top:80px;
}
.backBlack{
    position:fixed;
    background-color: rgba(0,0,0,0.9);
    top:0;
    width:1060px;
    margin-left:calc(50% - 530px);
    margin-right:calc(50% - 530px);
    height:100%;
    z-index:-1;
}
.gameCanvas1{
    z-index:10;
}
.gameCanvas3{
    z-index:30;
}
.gameCanvas2_5{
    z-index:25;
}
.gameCanvas3_5{
    z-index:35;
}
.gameCanvas4{
    z-index:40;
}
.gameCanvas2_3{
    z-index:23;
}
.displayNone{
    display:none;
}
.hidCanvas{
    width:1200px;
    height:600px;
}
.nameBoxCreate{
    z-index:100;
    position:absolute;
    left:calc(50% - 186px);
    top:206px;
    width:200px;
    font-size:14pt;
    display:none;
    background-color:black;
    color:white;
    padding:1px;
    font-family:"Stick",sans-serif;
    transition:all 0.3s;
}
.nameBoxChange{
    z-index:100;
    position:absolute;
    left:calc(50% - 100px);
    top:246px;
    width:200px;
    font-size:14pt;
    display:none;
    background-color:black;
    color:white;
    padding:1px;
    font-family:"Stick",sans-serif;
    transition:all 0.3s;
}
.dataButton{
    position:absolute;
    width:300px;
    font-family:"Stick";
    color:white;
    background-color:rgba(40,40,40,1);;
    transition: all 0.3s;
    padding:10px;
    margin:20px;
    text-align: center;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color:rgba(0,0,0,1);
    border-right-style:solid;
    border-right-width:1px;
    border-right-color:rgba(0,0,0,1);
}
.dataButton:hover{
    background-color:rgba(60,60,60,1);
}
.dataButton-bt{
    display:none;
}
.dataButtons{
    left:0;
    right:0;
    height:100px;
    position:relative;
    margin:auto;
}
.dataButtonsLeft{
    left:calc(50% - 320px);
}
.dataButtonsRight{
    left:calc(50% + 20px);
}
@media (max-width : 960px) {
    .forPC{
        display: none;
    }
    .forTablet{
        display:inline;
    }
}
@media (min-width : 961px) {
    .forPC{
        display:inline;
    }
    .forTablet{
        display: none;
    }
}
.pad20{
    height:20px;
}
.footer{
    background-color:black;
    color:white;
    text-align:center;
    font-size:0.8rem;
    padding:15px;
    z-index:1000;
}
